<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:blue">
        <h1>Header</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
